# Ambiente virtual
venv/
.venv/
env/

# Cache do Python
__pycache__/
*.py[cod]

# Arquivos do Flask
instance/

# Banco de dados local
*.db
*.sqlite
*.sqlite3

# Variáveis de ambiente
.env

# Configurações do VS Code
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db